@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  @include flexCenter();
}

.container {
  width: 80%;
}

.nav {
  background-color: #222222;
  color: white;
  text-align: center;
  height: 30vh;
  @include flexCenter();
  h1 {
    font-size: 3rem;
  }
}

main {
  margin: 2rem 0;
}

main h1 {
  color: #222222;
  width: fit-content;
  padding-bottom: 1rem;
  border-bottom: 4px solid rgb(65, 65, 65);
  margin: 3rem auto 2rem auto;
}

.projects {
  display: flex;
  padding: 0 2rem;
  margin: 1rem 0;
}

.project-card {
  margin: 0rem 0.5rem;
  height: max-content;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.2s ease;
    &:hover {
      transform: scale(0.98);
      border-radius: 20px;
    }
  }
  p {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(34, 34, 34, 0.664);
  }
}

@media only screen and (max-width: 880px) {
  .container {
    width: 100%;
  }

  .nav h1 {
    font-size: 2.5rem;
  }

  main {
    margin: 0;
    margin-bottom: 2rem;
  }

  main h1 {
    font-size: 1.6rem;
    margin: 3rem auto 1rem auto;
  }

  .projects {
    flex-direction: column;
    margin: 0;
  }

  .project-card {
    margin: 1rem 0 0 0;

    img {
      height: auto;
      border-radius: 10px;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
