@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  @include flexCenter();
}

.container {
  width: 80%;
}

.nav {
  background-color: #222222;
  color: white;
  text-align: center;
  height: 30vh;
  @include flexCenter();
  h1 {
    font-size: 3rem;
  }
}

.projects {
  display: flex;
  padding: 0 2rem;
}

.project-card {
  margin: 1rem 0.5rem;
  text-align: center;
  overflow: hidden;
  img {
    width: 100%;
    height: 35vh;
  }
  p {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 780px) {
  .container {
    width: 100%;
  }

  .nav h1 {
    font-size: 2.5rem;
  }

  .projects {
    flex-direction: column;
  }

  .project-card {
    margin: 1rem 0 0 0;

    img {
      height: auto;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
